body{
    background-color: black !important;
    margin: 0;
    padding: 0;
}

.navbar{
    font-size: 18px !important;
    text-transform: uppercase;
}
ul li {
    margin-left: 40px !important;
}
.navbar-brand{
    font-weight: bold;
    font-size: 30px !important;
    color: whitesmoke !important;
}
.navbar ul li:hover{
    color: white !important;
}
.intro{
    color: rgb(114, 102, 102) !important;
}
button{
    background-color: blue;
}
/* .intro{
    display: flex;
    flex-direction: row;
    margin-top: 250px;
}
.des-intro p{
    font-size: 26px !important;
}
.my-img{
    width: 300px !important;
}
*/



  .intro{
    
    margin-top: 120px;
}
.des-intro p{
    font-size: 26px !important;
}
@media screen and (max-width: 992px) {
    .intro {
      width: 100%;  
    }
    .intro p{
        font-size: 14px !important;
    }
    .my-img img{
        width: 150px;
    }
    .des-intro{
       width: 280px;
    }
  } 









.projects-heading{
    margin-top: 50px;
}
.my-project-h{
    color: rgb(114, 102, 102) !important;
}

.projects{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 15px;
}
.project{
    margin-top: 15px;
}
.projects-list{
    width: 100%;
    margin: 0 !important;
    padding: 0 !important;
}

